
#app {
	
}

#header {
	position: relative;
	z-index: 2;
}

#global_actions_trigger {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
#global_actions_trigger:before {
	content: "";
	position: absolute;
	background: url(../images/arrow_down.png) no-repeat right center;
	cursor: pointer;
	width: 103%;  
    height: 116%;
    z-index: -1;

    transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);

	transition: transform ease-out 0.3s;
	-o-transition: -o-transform ease-out 0.3s;
	-ms-transition: -ms-transform ease-out 0.3s;
	-moz-transition: -moz-transform ease-out 0.3s;
	-webkit-transition: -webkit-transform ease-out 0.3s;
}
#global_actions_trigger.open:before {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

#app > section {
	position: relative;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#content > x-actionbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	transition: width ease-out 0.3s;
	-o-transition: width ease-out 0.3s;
	-ms-transition: width ease-out 0.3s;
	-moz-transition: width ease-out 0.3s;
	-webkit-transition: width ease-out 0.3s;
}

#content > x-actionbar > x-action {
	overflow: hidden;
}

#content > x-shift {
	width: auto;
}

#content > x-shift > x-slidebox {
	height: 100%;
}

x-slide.list {
	overflow: auto;
}

x-slide.detail {
	/*overflow: auto;*/
}


#app.phone_landscape #global_actions_trigger, 
#app.small_desktop #global_actions_trigger,
#app.med_desktop #global_actions_trigger,
#app.phone_portrait #global_actions_trigger {
	width: 22px;
}

#app.tablet #content > x-shift {
	left: 60px !important;
}

#app.med_desktop #views, 
#app.large_desktop #views {
	width: 100% !important;
	transform: translateX(0%) !important;
}

#app.small_desktop #views > x-slide {
	
}

#app.small_desktop x-slide.detail{

}

#app.med_desktop x-slide.list {
	width: 40% !important;
}

#app.med_desktop x-slide.detail {
	width: 60% !important;
}

#app.large_desktop  #content > x-actionbar {
	width: 120px;
}

#app.large_desktop #content > x-actionbar > x-action img {
	width: 24px;
}

#app.large_desktop x-slide.list {
	width: 28% !important;
}

#app.large_desktop x-slide.detail {
	width: 72% !important;
}

